# Pyhton APCS 第一章
## 輸出畫面

print(輸出內容)

$ SE = \frac{\sigma}{\sqrt{n}} $

In [2]:
print("Hello!")

Hello!

In [2]:
'''
練習輸出
'''
print("Hello World")
print(123)
print(1.41421)

print(3.1415,2.71828)

print(5,6,7,8,sep="_")

print("A",end="")#輸出A不換行
print("B")
print("C")
print("Vivin\n\nKen")

Hello World
123
1.41421
3.1415 2.71828
5_6_7_8
AB
C
Vivin

Ken

In [3]:
age1 = 18
# 2age = 15
年齡3 = 12
#class = 602
print(age1)
print(年齡3)

18
12

In [4]:
baseSalary = 25000
comm = 1000
sales = 18

pay =  baseSalary + sales * comm

print("本月銷售量:",sales)
print("本月薪資:",pay,"元")

本月銷售量: 18
本月薪資: 43000 元

In [5]:
price = 250
print(price)
price = 199
print(price)
price = 15.25
print(price)

del price
print(price)

250
199
15.25

NameError: name 'price' is not defined

In [6]:
print(10 / 3)
print(10 // 3)

print(10 / 3.0)
print(10 // 3.0)

3.3333333333333335
3
3.3333333333333335
3.0

In [7]:
count = 0

count = count + 1
print(count)
count = count + 1
print(count)
count += 1
print(count)

1
2
3

In [8]:
num = 10
num += 9
print(num)
num -= 8
print(num)
num *= 7
print(num)
num //= 6
print(num)
num %= 5
print(num)
num /= 4
print(num)
num **=   3
print(num)

19
11
77
12
2
0.5
0.125

In [9]:
n = 2

print(n**4)

print(3527 % 3)# 0 ~2

16
2

In [10]:
coin1 = 20
coin5 = 10
coin10 = 3
coin50 = 2
coin_total = coin50*50 + coin10 * 10 + coin5 * 5 + coin1
print(coin_total)


b100 = 3
b200 = 2
b500 = 1
b1000 = 2
bTotal = (b100 + b200 * 2 + b500 * 5+ b1000 * 10) * 100
print(bTotal)

200
3200

In [11]:
tc1,tc2,tc3 = 0,25,98

tf1 = 9 / 5 * tc1 + 32
tf2 = 9 / 5 * tc2 + 32
tf3 = 9 / 5 * tc3 + 32

print("攝氏:",tc1,"華氏:",tf1)
print("攝氏:",tc2,"華氏:",tf2)
print("攝氏:",tc3,"華氏:",tf3)

攝氏: 0 華氏: 32.0
攝氏: 25 華氏: 77.0
攝氏: 98 華氏: 208.4

In [13]:
msg = "Hello" + ' World'
print(msg)
msg = "Hello " * 3
print(msg)

ans = 2 + 3
print(ans)
str2 = "2" + "3"
print(str2)
print(str(2) + '3')
print(2 + int('3'))

Hello World
Hello Hello Hello
5
23
23
5

In [15]:
a = 3
b = 4
print(a,b)
tmp =  b
b = a
a = tmp
print(a,b)

print("==================")
g = 9
f = 71
print(g,f)

g,f = f,g
print(g,f)

3 4
4 3
==================
9 71
71 9

In [16]:
msg1 = "{"
msg2 = "'name':'Ken'"
msg3 = "}"
json = msg1+msg2+msg3
print(json)

data = "1 2 "
msg2 = "'value' = " + data * 5

json = msg1 + msg2 + msg3
print(json)

{'name':'Ken'}
{'value' = 1 2 1 2 1 2 1 2 1 2 }

In [17]:
x = 123
y = '456'
z = x + int(y)
ans = str(x)+"+"+y+"="+str(z)
print(ans)# 123 + 456 = 579

123+456=579